body {
  color: black;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  padding: 20px;
  border-radius: 10px;
  background-color: aquamarine;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

